<h1>Todo一覧</h1>

<div class="todos">
  <% @todos.each do |todo| %>
    <div class="todo">
      <h2><%= todo.title %></h2>
      <p><%= todo.description %></p>
      <p>
        状態：<%= todo.completed ? "完了" : "未完了" %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "新規作成", new_todo_path %>